<p>Dashboard#index - Find me in app/views/dashboard/index.html.erb</p>

<h1>Welcome back, <%= current_user.first_name %>!</h1>

<p>Your preferred diet is <%= current_user.preference %> :--> <%= link_to "change", edit_user_registration_path %> </p>